<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F2E6F0F2156E712008C26CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2E6F232156E713008C26CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2E6F2E2156E713008C26CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
